.heading {
  font-family: $font-raleway;
  font-weight: $font-bold;
  letter-spacing: -0.7px;
  line-height: 36px;
  font-size: 1.6rem;
  @include md {
    font-size: 2.5rem;
    line-height: 62px;
    letter-spacing: 0.2px;
  }
}

.btn {
  padding: 1rem 5rem;
  border: none;
  border-radius: 25px;
  font-size: 0.825rem;
  font-family: $font-raleway;
  font-weight: $font-bold;
  white-space: nowrap;
  letter-spacing: 0.5px;
  background: linear-gradient(to right, $accent-cyan, $accent-blue);
  color: $neutral-white;
  transition: all 100ms linear;
  &:hover {
    transform: translateY(-5%);
    box-shadow: 0px 3px 5px $neutral-white;
    cursor: pointer;
  }
  @include md {
    font-size: 1.125rem;
    padding: 1.125rem 5.125rem;
    border-radius: 50px;
  }
}

.svg {
  vertical-align: bottom;
}
